<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <style type="text/css" rel="stylesheet">
    .vertical-center {
        min-height: 80%;
        min-height: 80vh;
        display: flex;
        align-items: center;
    }
    .display-4 {
        float: none; 
        margin: -3% auto 5%;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div th:include="layout :: navigationPanel"></div>
        <div class="vertical-center">
            <div class="container-fluid">
                <div class="row"><h1 class="display-4">Logowanie</h1></div>
                <form th:action="@{/login}" method="POST">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label class="col-md-2" for="login">Login </label>
                            <input class="col-md-8" type="text" name="login" id="login" placeholder="Login"/>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label class="col-md-2" for="passwd">Hasło </label>
                            <input class="col-md-8" type="password" name="passwd" id="passwd" placeholder="Hasło"/>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row"><button class="btn btn-dark" style="float: none; margin: 2% auto 0;" type="submit">Zaloguj się</button></div>
                </form>
            </div>
        </div>
    </body>
</html>